.bannerBlock {
  // max-width: 1220px;
  width: fit-content;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 768px) {
    display: none;
  }
}

.bannerLink {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all ease-in-out .2s;
  padding: 10px 0;
}
.bannerImage {
  height: 50px;
  object-fit: contain;
  animation: fadeAnimation 3s infinite;
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}