@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-[#ccbe81] hover:bg-[#ccb968] inline-block my-2 px-[15px] py-[10px] rounded-sm cursor-pointer text-white transition ease-in-out delay-150;
  }
}

.container-top {
  margin-top: 70px;
  max-width: 1220px;
  margin-inline: auto;
  padding: 20px 10px 30px 10px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-family: "Roboto Slab", "serif";
  font-weight: 500;
  font-size: clamp(1.375rem, 0.739rem + 3.18vw, 3.125rem);
}

img {
  width: 100%;
}